.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  border: 1px solid black;
  border-collapse: collapse;
  align-items: center;

}
th,td{
  border: 1px solid black;
  border-collapse: collapse;
  align-items: center;
  text-align: center;
}


